body {
  padding: 0;
  margin: 0;
}

:root {
  --one-color: rgb(0, 110, 255);
  --two-color: orange;
  --three-color: rgb(218, 233, 255);
  --four-color: rgb(255, 242, 219);
  --five-color: #fbe6e6;
  --six-color: #e95557;
  --seven-color: rgb(27, 27, 27);
  --eight-color: #2dd064;
}

.custom {
  background: none;
}

.description {
  width: 100%;
  overflow: hidden;
  direction: rtl !important;
  background: url(../pics/5566879.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.description .desc-cover {
  padding: 150px 0px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 80%,
    rgb(255, 255, 255) 99%
  );
}

.description .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description .row .desc-img {
  width: 100%;
  text-align: center;
}

.description .row .desc-img img {
  width: 100%;
  animation: animate 1.5s infinite alternate;
}

@keyframes animate {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.description .row .details {
  padding: 20px;
}

.description .row .details .title {
  font-size: 27px;
  margin-bottom: 20px;
  display: flex;
  font-weight: 700;
}

.description .row .details .title img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  filter: invert(64%) sepia(51%) saturate(3012%) hue-rotate(2deg)
    brightness(108%) contrast(105%);
}

.description .row .details .title-desc {
  font-size: 17px;
  opacity: 0.8;
  line-height: 0.8cm;
  /* display: flex; */
  /* padding-right: 30px; */
}

.description .row .details .title-desc img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.description .row .details .desc-list {
  list-style: none;
  padding-right: 30px;
  padding-left: 0;
  margin-bottom: 0;
}

.description .row .details .desc-list li {
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  /* align-items: center; */
}

.description .diff .details .desc-list li {
  align-items: center;
  font-size: 18px;
  margin-bottom: 0px;
}

.description .row .details .desc-list li i {
  font-size: 22px;
  margin-left: 10px;
  color: var(--two-color);
}
